.btn-success {
  border: 1px "solid" #000;
  height: 50px;
  color: #000;
  font-size: 10px;
  cursor: default;
  background-color: green;
}

.btn-danger {
  border: 1px "solid" #000;
  height: 50px;
  color: #000;
  font-size: 10px;
  background-color: red;
  cursor: pointer;
}

.btn-default {
  border: 1px "solid" #000;
  height: 50px;
  color: #000;
  font-size: 10px;
  cursor: copy;
  background-color: #ffffff;
}

.button-basic, .button-submit, .button-report {
  border: none;
  padding: 15px 30px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.button-report {
  background-color: red;
}

.button-submit {
  background-color: green;
  color: white;
}

/** text formats */
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.margin-left {
  margin-left: 1px;
}

.padding-left {
  padding-left: 1px;
}

.margin-right {
  margin-right: 1px;
}

.padding-right {
  padding-right: 1px;
}

.margin-top {
  margin-top: 1px;
}

.padding-top {
  padding-top: 1px;
}

.margin-bottom {
  margin-bottom: 1px;
}

.padding-bottom {
  padding-bottom: 1px;
}

.margin-left {
  margin-left: 2px;
}

.padding-left {
  padding-left: 2px;
}

.margin-right {
  margin-right: 2px;
}

.padding-right {
  padding-right: 2px;
}

.margin-top {
  margin-top: 2px;
}

.padding-top {
  padding-top: 2px;
}

.margin-bottom {
  margin-bottom: 2px;
}

.padding-bottom {
  padding-bottom: 2px;
}

.margin-left {
  margin-left: 3px;
}

.padding-left {
  padding-left: 3px;
}

.margin-right {
  margin-right: 3px;
}

.padding-right {
  padding-right: 3px;
}

.margin-top {
  margin-top: 3px;
}

.padding-top {
  padding-top: 3px;
}

.margin-bottom {
  margin-bottom: 3px;
}

.padding-bottom {
  padding-bottom: 3px;
}

.margin-left {
  margin-left: 4px;
}

.padding-left {
  padding-left: 4px;
}

.margin-right {
  margin-right: 4px;
}

.padding-right {
  padding-right: 4px;
}

.margin-top {
  margin-top: 4px;
}

.padding-top {
  padding-top: 4px;
}

.margin-bottom {
  margin-bottom: 4px;
}

.padding-bottom {
  padding-bottom: 4px;
}

.margin-left {
  margin-left: 5px;
}

.padding-left {
  padding-left: 5px;
}

.margin-right {
  margin-right: 5px;
}

.padding-right {
  padding-right: 5px;
}

.margin-top {
  margin-top: 5px;
}

.padding-top {
  padding-top: 5px;
}

.margin-bottom {
  margin-bottom: 5px;
}

.padding-bottom {
  padding-bottom: 5px;
}

.margin-left {
  margin-left: 6px;
}

.padding-left {
  padding-left: 6px;
}

.margin-right {
  margin-right: 6px;
}

.padding-right {
  padding-right: 6px;
}

.margin-top {
  margin-top: 6px;
}

.padding-top {
  padding-top: 6px;
}

.margin-bottom {
  margin-bottom: 6px;
}

.padding-bottom {
  padding-bottom: 6px;
}

.margin-left {
  margin-left: 7px;
}

.padding-left {
  padding-left: 7px;
}

.margin-right {
  margin-right: 7px;
}

.padding-right {
  padding-right: 7px;
}

.margin-top {
  margin-top: 7px;
}

.padding-top {
  padding-top: 7px;
}

.margin-bottom {
  margin-bottom: 7px;
}

.padding-bottom {
  padding-bottom: 7px;
}

.margin-left {
  margin-left: 8px;
}

.padding-left {
  padding-left: 8px;
}

.margin-right {
  margin-right: 8px;
}

.padding-right {
  padding-right: 8px;
}

.margin-top {
  margin-top: 8px;
}

.padding-top {
  padding-top: 8px;
}

.margin-bottom {
  margin-bottom: 8px;
}

.padding-bottom {
  padding-bottom: 8px;
}

.margin-left {
  margin-left: 9px;
}

.padding-left {
  padding-left: 9px;
}

.margin-right {
  margin-right: 9px;
}

.padding-right {
  padding-right: 9px;
}

.margin-top {
  margin-top: 9px;
}

.padding-top {
  padding-top: 9px;
}

.margin-bottom {
  margin-bottom: 9px;
}

.padding-bottom {
  padding-bottom: 9px;
}

.margin-left {
  margin-left: 10px;
}

.padding-left {
  padding-left: 10px;
}

.margin-right {
  margin-right: 10px;
}

.padding-right {
  padding-right: 10px;
}

.margin-top {
  margin-top: 10px;
}

.padding-top {
  padding-top: 10px;
}

.margin-bottom {
  margin-bottom: 10px;
}

.padding-bottom {
  padding-bottom: 10px;
}

.common-width-1px {
  width: 1px;
}

.common-width-2px {
  width: 2px;
}

.common-width-3px {
  width: 3px;
}

.common-width-4px {
  width: 4px;
}

.common-width-5px {
  width: 5px;
}

.common-width-6px {
  width: 6px;
}

.common-width-7px {
  width: 7px;
}

.common-width-8px {
  width: 8px;
}

.common-width-9px {
  width: 9px;
}

.common-width-10px {
  width: 10px;
}

/*# sourceMappingURL=mixin.css.map */
