$color: #000;
$idSelector: 'myId'; 
$hash: '#';
$dot: '.';
$greaterThan: '>';
$margin: 'margin';
$left: 'left';
$right: 'right';
$top: 'top';
$bottom: 'bottom';
$dash: '-';
$div: 'div';
$border: 'border';
$padding: 'padding';
$px: px;
$percentage: em;
$five: 5;
$ten: 10;
$fifteen: 15;
$twenty: 20;
$font: 'font';
$size: 'size';
$h1: 'h1';
$classSelector: 'myClass';