$color: #000;
$idSelector: 'myId'; 
$hash: '#';
$dot: '.';
$greaterThan: '>';
$tilde: '~';
$plus: '+';
$comma: ',';
$caps: '^';
$margin: 'margin';
$left: 'left';
$right: 'right';
$top: 'top';
$bottom: 'bottom';
$center: 'center';
$justify:'justify';
$min: 'min';
$max: 'max';
$width: 'width';
$dash: '-';
$div: 'div';
$border: 'border';
$padding: 'padding';
$px: px;
$percentage: em;
$five: 5;
$ten: 10;
$fifteen: 15;
$twenty: 20;
$font: 'font';
$size: 'size';
$h1: 'h1';
$h2: 'h2';
$h3: 'h3';
$h4: 'h4';
$h5: 'h5';
$float: 'float';
$text: 'text';
$algin: 'align';
$solid: 'solid';
$display: 'display';
$block:'block';
$none: 'none';
$inline: 'inline';
$classSelector: 'myClass';